
.header {
    background-color: black;
    color : white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    color : white;
    display : flex;
    gap : 1.0rem;
}

.link {
    color : white;
    font-size : 1.2rem;
    text-decoration: none;
}

.title {
    font-size : 1.5rem;
    font-weight : bold;
}